<header>
    
   <div class="logo">LOGO</div>

      
      
      
      <nav>
        <ul>
          <li>
            <a href="#">병원정보</a>
          </li>
          <li>
            <a href="#">애완용품</a>
          </li>
          <li>
            <a href="#">분양정보</a>
          </li>
          <li>
            <a href="/board/boardCode">자유게시판</a>
          </li>
        </ul>
      </nav>
      <img src="/images/main.jpg" alt="메인 이미지" id="mainImage">

      <div id="header-top-menu">
        <a href="#">회원가입</a>
        <span> | </span>
        <a href="#" id="login">로그인</a>
      </div>

     <form action="/member/login" method="POST" id="loginForm">
        <div id="loginModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>로그인</h2>
            <div id="user-type">
              <button id="user-type-btn active">관리자</button>
              <button id="user-type-btn">일반 회원</button>
            </div>
            <div id="input-group">
              <label for="id">아이디</label>
              <input type="text" id="id" name="memberId">
            </div>
            
            <div id="input-group">
              <label for="password">비밀번호</label>
              <input type="password" id="password" name="memberPw">
            </div>
  
            <!-- <div id="input-group">
              <label for="email">이메일 입력</label>
              <input type="email" id="email">
            </div> -->
  
            <div id="actions">
              <button id="actions-btn">로그인</button>
              <button id="actions-btn">회원가입</button>
            </div>
            <div id="helper-links">
              <a href="#">아이디 찾기</a>
              <span> | </span>
              <a href="#">비밀번호 찾기</a>
            </div>
          </div>
        </div>
     </form>
        

     

      


</header>
