<header>
    
    <section>
        <!-- 클릭 시 메인 페이지로 이동하는 로고 -->
        <a href="/">
          <img src="/images/logo.jpg" alt="메인 로고" id="homeLogo">
        </a>
      </section>

      <section>
        <img src="/images/main.jpg" alt="메인 이미지" id="mainImage">
      </section>

      <nav>
        <ul>
            <li>
                <a href="#">병원정보</a>
            </li>
            <li>
                <a href="#">애완용품</a>
            </li>
            <li>
                <a href="#">분양정보</a>
            </li>
            <li>
                <a href="#">자유게시판</a>
            </li>
        </ul>
      </nav>

      <div id="header-top-menu">
        <a href="#">회원가입</a>
        <span> | </span>
        <a href="#">로그인</a>
      </div>

     

      


</header>
