/* 모든 요소의 기본 스타일 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 페이지 본문에 적용할 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* 헤더 영역 */
header {
    width: 100%;
    position: relative;
}

/* 이미지 스타일 */
header img {
    width: 100%;
    height: auto;
    display: block;
}

/* 로고 위치 및 스타일 */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* 네비게이션 메뉴 스타일 */
nav {
    position: absolute;
    top: 20px;
    right: 50%;
}

/* 네비게이션 메뉴 리스트 */
nav ul {
    display: flex;
    gap: 100px;
}

/* 리스트 항목 스타일 */
nav ul li {
    list-style: none;
}

nav ul li a:hover {
    color: #f7f7f7;
}

/* 네비게이션 링크 스타일 */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#header-top-menu{
    position: absolute;
    right: 10px;
    top: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#header-top-menu a:hover {
    color: white;
}

/* 기본 숨김 */
/* 모달 전체 배경 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 25%;
    height: 80%;
    border-radius: 20px;
    background-color: #f0f0f0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* 모달 내용물 - 화면 가운데에 작게 뜨도록 설정 */
.modal_content {
    background-color: #fff;
    position: relative;
    top: -100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    width: 655px;
    height: 1123px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.modal.show .modal_content {
    top: 0;
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#user-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#user-type-btn {
    padding:  10px 20px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#user-type-btn.active {
    background-color: #ddd;
    font-weight: bold;
}

#input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 50px;
}

#input-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

#input-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#actions {
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;
}

#action-btn {
    padding: 15px 30px;
    background-color: #f0f0f0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#helper-links {
    text-align: center;
    margin-top: 20px;
}

#helper-links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
}

#helper-links a:hover {
    text-decoration: under;
}