.board-name{
  font-size: 2em;
  margin: 20px 0;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.board-list{
  width: 1000px;
  margin: 50px auto;
}

.board-title{
  margin-left: 30px;
  font-size: 2.5em;
}

.list-wrapper{
  min-height: 670px;
  width: 100%;
}

.list-table{
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}

.list-table > thead { background-color: #d89c41; color: white;}

.list-table tr {
  height: 60px;
}

.list-table > tbody > tr {
  border-bottom: 1px solid gray;
}

.list-table tr > * { text-align: center;}
.list-table tr > *:nth-of-type(1) { width: 10%; }

.list-table tr > td:nth-of-type(2){
  width: 50%;
  /* text-align: left; */
  padding-left: 50px;
  text-decoration: none;
}

.list-table tr > *:nth-of-type(3){ width: 13%; }
.list-table tr > *:nth-of-type(4){ width: 10%; }
.list-table tr > *:nth-of-type(5){ width: 8%; }

.btn-area {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-area > button {
  margin-right: 50px;

  width: 80px;
  height: 40px;
  background-color: white;

  font-weight: bold;
  color: aqua;
  border: 2px solid black;
  border-radius: 5px;

  cursor: pointer;
}

#insertBtn:hover{
  background-color: #7b1fa2;
  opacity: 1;
}
