.board-detail{
    width: 1000px;
    min-height: 700px;
    border: 1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
}

.board-list{
    margin: 0;
    padding: 50px 0;
    font-size: 2em;
    border-bottom: 3px solid #ccc;
}

/* 게시글 제목 */
.board-title{
    margin : 0;
    padding: 20px 0;
    font-size: 2em;
    border-bottom : 3px solid #ccc;
}

.board-title > span{
    font-size: 16px;
    color: gray;
}


/* 게시글 헤더 */
.board-header{
    padding: 20px 0;
    border-bottom : 3px solid #480000;
    display: flex;
    justify-content: space-between;
}

/* 프로필 */
.board-writer > img{
    width: 40px;
    height: 40px;
}
