<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 이름</title>

  <th:block th:replace= "~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/board/boardList.css">

</head>
<body>
  <main>
    <th:block th:replace= "~{common/header}"></th:block>

    <section>
      <h1>게시판 이름</h1>

      <div class="list-wrapper">
        <table class="list-table">
          <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr>
        </table>

        <tbody>
          <!-- 게시글이 존재하지 않을 때 -->
         <th:block th:if="${#lists.isEmpty(boardList)}">
           <!-- #lists : 타임리프에서 제공하는 list 기능 제공 객체 -->
              <tr>
                  <th colspan="6">게시글이 존재하지 않습니다.</th>
              </tr>
         </th:block>

      </div>

    </section>


  </main>
  
</body>
</html>