<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 이름</title>

  <th:block th:replace= "~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/board/boardList.css">
  <link rel="stylesheet" href="/summerNote/summernote-lite.css">
  <script src="/summerNote/summernote-lite.js"></script>
  <script src="/summerNote/summernote-ko-KR.js"></script>

</head>
<body>
  <main>
    <th:block th:replace= "~{common/header :: nav}"></th:block>

    <section class="board-list">
      <h1 class="board-name">게시판 이름</h1>

      <div class="list-wrapper">
        <table class="list-table">
          <thead>
            <tr>
              <th>NO</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일</th>
              <th>조회수</th>
            </tr>
          </thead>
          
          <tbody>
            <!-- 게시글이 존재하지 않을 때 -->
            <th:block th:if="${#lists.isEmpty(boardList)}">
              <!-- #lists : 타임리프에서 제공하는 list 기능 제공 객체 -->
              <tr>
                <th colspan="6">게시글이 존재하지 않습니다.</th>
              </tr>
            </th:block>

            <!-- 게시글이 존재할 때 -->
             <th:block>
              <tr>
                <td>1000</td>

                <td>
                  <!-- 검색이 아닌 경우 -->
                  <a href="#">게시글 제목</a>

                  
                   <!-- 댓글 수 -->
                    <th:block>[0]</th:block>
                </td>

                <!-- 작성자 -->
                 <td>닉네임</td>

                 <!-- 작성일 -->
                  <td>2024-10-16</td>

                  <!-- 조회수 -->
                   <td>0</td>
              </tr>
             </th:block>
          </tbody>
            
        </table>
      </div>

      <div class="btn-area">
        <button  id="insertBtn">글쓰기</button>
      </div>

      <!-- Summernote 에디터를 위한 텍스트 영역 (초기에는 숨김 처리) -->
      <div id="editor-area" style="display:none;">
        <textarea id="summernote" name="content"></textarea>
    </div>

    <script>
      $(document).ready(function() {
          // 글쓰기 버튼 클릭 이벤트
          $('#insertBtn').click(function() {
              // 에디터 영역을 보이도록 설정
              $('#editor-area').show();
              
              // Summernote 에디터 활성화
              $('#summernote').summernote({
                  height: 300, // 에디터 높이 설정
                  lang: 'ko-KR', // 언어 설정
                  placeholder: '내용을 입력하세요...'
              });
          });
      });
  </script>

    </section>


  </main>
  
</body>
</html>